// font-family: 'Poppins', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 300,400,500,600,700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

input,
button {
    outline: none;
}

